h2{
    margin-left: 50px;
    margin-top: 10px;
  }
  .container{
    background-color: white;
    display: flex;
    border: 2px solid gainsboro;
    width: auto;
    align-self: center;
    margin: 50px;
  
          table{
            text-align: center;
            align-content: space-evenly;
            margin-bottom: 0;
                th{
                      text-align: center;
                      width: 20px;
                }

                .admin {
                    background-color: rgb(255, 255, 255);
                    color: black;
                    border-color: rgb(230, 138, 102);
                    padding: 8px;
                    padding-right: 20px;
                    padding-left: 20px;
                    border-radius: 10px;
                }
                
                .admin:hover {
                  background-color: rgb(255, 215, 202);
                }


                .Noadmin {
                  background-color: rgb(120, 218, 164);
                  color: black;
                  border-color: rgb(4, 214, 99);
                  padding: 8px;
                  padding-right: 20px;
                  padding-left: 20px;
                  border-radius: 10px;
              }
              
              .Noadmin:hover {
                background-color: rgb(81, 190, 130);
              }

                .bloqueo {
                    background-color: rgb(255, 255, 255);
                    color: black;
                    border-color: rgb(230, 138, 102);
                    padding: 8px;
                    padding-right: 20px;
                    padding-left: 20px;
                    border-radius: 10px;
                }
                
                .bloqueo:hover {
                  background-color: rgb(255, 215, 202);
                }
                

                .bloqueado {
                  background-color: rgb(222, 112, 87);
                  color: black;
                  border-color: rgb(218, 49, 11);
                  padding: 8px;
                  padding-right: 20px;
                  padding-left: 20px;
                  border-radius: 10px;
              }
              
              .bloqueado:hover {
                background-color:  rgb(199, 85, 59);
              }
              

                .resert {
                    background-color: rgb(255, 255, 255);
                    color: black;
                    border-color: rgb(95, 183, 241);
                    padding: 8px;
                    padding-right: 20px;
                    padding-left: 20px;
                    border-radius: 10px;
                }
                
                .resert:hover {
                  background-color:  rgb(95, 183, 241);
                }
                
          }
  }
