//UserOrders

.titleOrderUser{
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
  background-color: whitesmoke;
  padding: 1%;
}

.contenTable{
  border-radius: 15px;
  background-color: white;
  display: flex;
  margin: 2% 10% ;
  justify-content: center;
  align-items: center;
  padding: 0 1%;
}