
  .list{
    margin: 5%;
  }

  .infoUser{
    margin: 5%;
  }

  .cardHistory{
    margin-top: 3%;
    text-align: center;
  }
  .row2{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .myOrders{
    margin-top: 3%;
    text-align: center;
    background-color: transparent;
  }

