h2{
  margin-left: 50px;
}

.container {
  border: 3px solid lightslategray;
  padding: 20px;
  margin-left: 50px;

  .membrete{
    width: 100%;
    border: 1px solid gray;
  }

  .memtable{
    margin-bottom: 0;
  }
 }