

.main-Footer {
  background-color: #f5b453;
    display: flex;
    flex-direction: column;
    
    .contenedor-secciones{
    border-color: black;
      display: flex;
      flex-direction: row;
      max-width: 1024px;
      margin: 0 auto;
      margin-top: 2rem;
      
        .categorias-footer{
          display: grid;
          grid-template-columns: repeat(2, auto);
          grid-template-rows: 60px auto;
          align-items: baseline;
          text-align: center;
          h4{
            flex-grow: 1;
          }
        
        
      }
    
  
    }
  
    .contenedor-redes{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top:15px;
      p{
        font-size: 16px;
      }
      
    }
  }