.catalogue{
    display: flex;
    flex-direction: column;
    align-items: center;
    .titleH2{
        margin-top: 2%;
        font-family: 'Lato', sans-serif;
        background-color: white;

    }
    .contentCards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
        margin: 2%;
    }

    
    .selectContainer{
        display: flex;
        align-self: flex-end;
        margin-right: 5rem;    border: 1px solid #80808099;
        padding: 1rem;
        border-radius: 2rem;
        background: white;
        label{
            margin: 0;

        }
        select{
            border: none;
            margin-left: .5rem;
            outline: none;
            color: orange;
        }

}
}

@media screen and (min-width: 600px) {
    .catalogue{
        display: flex;
        flex-direction: column;
        align-items: center;
        .titleH2{
            margin: 1em;
            font-family: 'Lato', sans-serif;
            background-color: white;

        }
        .contentCards{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 90%;
            margin: 2%;
        }


    }
}
