.globalContainer{
  display: flex;
  flex-direction: column;
  align-items: center;

  .formContainer{
    padding: 5% 1%;
    width: 40%;
    margin: 5% auto;
    border-radius: 10px;
    background-color: white;
    border: 1px solid rgb(233, 185, 83);
    box-shadow: 0 2px 2px 0 rgb(175, 128, 56);

    &:hover{
      border: 2px solid rgb(233, 185, 83);
      box-shadow: 0 2px 2px 0  rgb(248, 219, 157);

    }

    .title{
      margin: 0 22%;
    }

    .form{
      margin: 30px 30px;

      .btnIniciarSesion{
        margin-top: 10px;


        .btnText{
          font-weight: bold;

          &:hover{
            color: gainsboro;
          }
        }
      }
    }

    .input{
      border: 1px solid black;
      box-shadow: none;

    }

  }
}

.icon{
  margin-right: 5%;
}

.cerrar{
  cursor: pointer;
}