.navBar{
    display: grid;
    grid-template-columns: auto 30em 5em 5em 5em;
    align-items: center;
    div{
        display: flex;
        align-items: center;
    
        img{
            height: 120px;
            margin-left: 60px;
        }
        // span{
        //     font-family: cursive;
        //     font-size: larger;
        // }
    }
    label, button{
        background-color: #ffffff;
        display: flex;
        align-items: center;
        border: none;
        border-radius: 9999px;
        height: 46px;
        padding: 0 1em;
        width: fit-content;
        border: 1px solid #bdbdbd;

        .carrito{
            font-size: 25px;
            margin: 10px;
        }
    }
    

}
.carritoCont{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:0;
    margin-top:0;
    margin-right: 0;
    background-color:rgb(247, 244, 244);
    margin: 2rem;
    
}

.navBar button :hover {
    color: orange;

  }