.navBar{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .containerLogo{
        display: flex;
        align-items: center;
        margin-left: 10%;



    }

}
//Cart
.ctnCart {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    border-radius: 9999px;
    height: 3rem;
    padding: 0 1em;
    width: fit-content;
    border: 1px solid #bdbdbd;
}

.cart{
    display: flex;
    align-items: center;
    border: none;
    background-color: white;
}



.logo{
    height: 7.5rem;
    margin-left: 5%;
}
.navbarSearch {
    width: 100% !important;
}
.smallCart {
    display: none;
}

@media screen and (max-width: 1024px) {
    .navBar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        .containerLogo{
            display: flex;
            margin: 0;
            padding: 0;

            .logo{
                height: 100px;
                margin-left: 5%;

            }

        }


    }
}

@media screen and (max-width: 728px) {
    .bigCart {
        display: none;
    }
    .smallCart {
        display: flex;
    }
    .navbarSearch {
        width: 50% !important;
    }
    .navBar{
       display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        .containerLogo{
            display: flex;
            margin: 0;
            padding: 0;

            .logo{
                height: 100px;
                margin-left: 5%;

            }

        }


    }
    .logo{
        height: 4rem;
        margin-left: 5%;
    }
}



.navItem {
    margin-left: auto;
}

.navButtons {
    width: auto;
}

