.searchBar{
    display: flex;
    justify-items: center;

    form{
        border-radius: 9999px;
        border: none;
        padding: 0 1em;
        display: flex;
        background-color: #dee2e6;
        align-items: center;
        input{
            border: none;
            height: 30px;
            width: 300px;
            outline:none !important;
            outline-width: 0 !important;
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;  
            background-color: #dee2e6;       
        }
        button{
            background-color:#dee2e6;
           border: none;
           
            i{
               font-size: 25px;
                margin: 10px;
             }
        }
        
    }
}